
// RABABA

.filter {
	&-subtitle {
		display: none;
	}
	
	&-options {
		display: none;
	}
	
	.filter-options-item{
		border-bottom: $filter-options-item-border;
	}

	.filter-options-title{
		color: $filter-options-title-color;
		font-size: $filter-options-title-font-size;
		line-height: $filter-options-title-line-height;
		padding: $filter-options-item-padding;
		font-weight: $filter-options-title-font-weight;
		position: relative;
		@include lib-icon-font(
			$icon-down,
			$_icon-font-text-hide  : false,
			$_icon-font-size       : $filter-options-title-icon-size,
			$_icon-font-color      : $filter-options-title-icon-color,
			$_icon-font-color-hover: $filter-options-title-icon-color-hover,
			$_icon-font-position   : after,
			$_icon-font-display    : block
		);
		&:after{
			position: absolute;
			right: $filter-options-title-position;
			top: 0px;
		}
	}
	.active .filter-options-title{
		@include lib-icon-font(
				$icon-up,
				$_icon-font-text-hide  : false,
				$_icon-font-size       : $filter-options-title-icon-size,
				$_icon-font-color      : $filter-options-title-icon-color,
				$_icon-font-color-hover: $filter-options-title-icon-color-hover,
				$_icon-font-position   : after,
				$_icon-font-display    : block
		);
	}
	
	.filter-options-content{
		padding: $filter-options-item-container-padding;
		a{
			padding: 0 5px;
			margin-left: -5px;
			color: $filter-options-color;
			text-decoration: $filter-options-decoration;
			&:hover, &:focus, &:active{
				background: $filter-options-active-background;
				color: $filter-options-color-active;
				text-decoration: $filter-options-decoration-active;
			}
		}
		.item{
			margin-bottom: 0;
			line-height: $filter-options-item-line-height;
		}
		.count{
			color: $filter-options-count-color;
			margin-left: 3px;
			&:before{
				content: '(';
			}
			&:after{
				content: ')';
			}
			span{
				display: none;
			}
		}
	}
}

//
//  Mobile
//  _____________________________________________

@include max-screen($screen__m) {
	body {
		&.filter-active {
			.page-header {
				display: none;
			}
			
			.page-wrapper {
				height: 0;
				margin-top: -999999em;
				visibility: hidden;
			}
			
			.columns {
				z-index: 999;
			}
		}
	}
	
	.filter {
		&.active {
			position: relative;
			visibility: visible;
			z-index: 99;
			
			.filter-options-item:last-child {
				margin-bottom: $indent__xl;
			}
			
			.filter-title {
				border-bottom: 1px solid $border-color__base;
				height: 48px;
				left: 0;
				position: fixed;
				right: 0;
				top: 0;
				z-index: 2;
				
				strong {
					background: none;
					border: 0;
					color: transparent;
					left: auto;
					right: 3px;
					top: 10px;
				}
			}
			
			.filter-subtitle {
				@include lib-css(background, $module__background-color);
				display: block;
				height: 50px;
				left: 0;
				line-height: 32px;
				position: fixed;
				right: 0;
				top: 0;
				z-index: 1;
			}
			
			.filter-options {
				@include lib-css(background, $color-white);
				bottom: 0;
				display: block;
				left: 0;
				overflow: scroll;
				position: fixed;
				right: 0;
				top: 50px;
				z-index: 10;
			}
		}
	}
	
	.filter {
		& &-subtitle {
			font-size: 20px;
			font-weight: $font-weight__light;
		}
		
		&-actions {
			margin: -35px -$indent__s $indent__m;
		}
		
		&-options-content {
			padding: $indent__xs $indent__s;
		}
	}
	
	.filter .filter-current {
		border: solid $border-color__base;
		border-width: 1px 0;
		margin: $indent__xs -$indent__s 0;
		
		.items {
			display: none;
		}
		
		&-subtitle {
			position: relative;
			z-index: 1;
			
			
			&:before {
				position: absolute;
				right: 10px;
				top: 10px;
			}
			
			&:after {
				@include lib-css(color, $text__color__muted);
				content: ' (' attr(data-count) ')';
				font-size: 14px;
			}
		}
		
		&.active {
			padding-bottom: 30px;
			
			.block-subtitle {
			
			}
			
			.items {
				display: block;
			}
			
			& + .block-actions {
				display: block;
			}
		}
		
		& + .block-actions {
			display: none;
		}
	}
	
	.filter-no-options {
		.filter-title {
			&:before {
				background: rgba(255,255,255,.5);
				content: '';
				display: block;
				height: 40px;
				left: -15px;
				margin-top: -60px;
				position: relative;
				width: 100px;
				z-index: 99;
			}
		}
		
		.filter-content {
			margin-bottom: $indent__base;
		}
	}
	
	.page-with-filter {
		.columns {
			.sidebar-main {
				@include lib-vendor-prefix-order(0);
			}
		}
	}
}

// Desktop

@include min-screen($screen__m + 1) {
	
	.filter-title {
		display: none;
	}
	.filter.active .filter-options,
	.filter-options {
		clear: both;
		display: block;
	}
	
	.filter-subtitle {
		display: block;
		font-size: $filter-subtitle-font-size;
		color: $filter-subtitle-color;
		border-bottom: $filter-subtitle-border;
		padding: $filter-subtitle-padding;
		line-height: $filter-options-title-line-height;
		font-weight: $filter-subtitle-font-weight;
		margin: 0;
	}
	
	.page-layout-1column {
		.toolbar-products {
			position: absolute;
			top: 0;
			width: 100%;
		}
		
		.products ~ .toolbar-products {
			position: static;
		}
		
		&.page-with-filter .column.main {
			padding-top: 45px;
			position: relative;
			z-index: 1;
		}
		
		.filter {
			&.block {
				border-top: 1px solid $border-color__base;
			}
			
			&-content {
				margin-top: $indent__s;
			}
			
			&-subtitle {
				display: none;
			}
			
			&-options {
				&-item {
					border: 0;
					display: inline-block;
					margin-right: $indent__m;
					position: relative;
					
					&.active {
						z-index: 2;
						
						.filter-options-content {
							visibility: visible;
						}
						
						&:hover {
							z-index: 3;
						}
						
						&:after,
						&:before {
							@include lib-arrow(up, 8px, $color-black);
							bottom: -1px;
							content: '';
							display: block;
							left: $indent__xs;
							position: absolute;
							z-index: 3;
						}
						
						&:after {
							@include lib-css(border-bottom-color, $color-white);
							margin-top: 2px;
							z-index: 4;
						}
					}
				}
				
				&-title {
					padding: 0 $indent__base 0 0;
					
					&:after {
						right: 2px;
						top: 3px;
						z-index: 3;
					}
				}
				
				&-content {
					$_shadow: 0 3px 5px 0 rgba(50, 50, 50, .75);
					
					@include lib-css(background, $color-white);
					@include lib-css(box-shadow, $_shadow, 1);
					border: 1px solid $border-color__base;
					padding: $indent__xs 0;
					position: absolute;
					top: 100%;
					visibility: hidden;
					width: 180px;
					z-index: 2;
					
					.item {
						margin: 0;
						padding: $indent__xs;
						
						a {
							margin-left: 0;
						}
						
						&:hover {
							background-color: $module__background-color;
						}
					}
				}
			}
			
			&-current {
				display: inline;
				line-height: 35px;
				
				&-subtitle {
					@include lib-css(color, $text__color__muted);
					display: inline;
					font-size: $font-size__base;
					font-weight: normal;
					padding: 0;
					
					&:after {
						content: ':';
					}
				}
				
				.item,
				.items {
					display: inline;
				}
				
				.item {
					margin-right: $indent__m;
					white-space: nowrap;
				}
				
				.action.remove {
					line-height: normal;
				}
			}
			
			&-actions {
				display: inline;
				white-space: nowrap;
				
				& ~ .filter-options {
					margin-top: $indent__m;
				}
			}
		}
	}
	
}
