
// RABABA

.filter {
	&-subtitle {
		display: none;
	}
	
	&-options {
		display: none;
	}
	
	.filter-options-item{
		border-bottom: $filter-options-item-border;
	}
	
	.filter-current-subtitle{
		margin-bottom: $indent__xs;
	}
	
	.filter-current{
		border: $filter-options-item-border;
		border-width: 1px 0;
		.item{
			padding-left: 18px;
			position: relative;
		}
		.filter-label{
			color: $filter-current-label-color;
			font-weight: $filter-current-label-font-weight;
			&:after{
				content: ':';
			}
		}
		.filter-value{
			color: $filter-current-value-color;
			font-weight: $filter-current-value-font-weight;
		}
		.action.remove{
			position: absolute;
			left: -8px;
			top: -1px;
			@include lib-icon-font(
				$icon-remove,
				$_icon-font-text-hide  : true,
				$_icon-font-size       : 26px,
				$_icon-font-color      : $filter-current-remove-color,
				$_icon-font-color-hover: $filter-current-remove-color-active,
				$_icon-font-position   : before,
				$_icon-font-display    : block,
				$_icon-font-line-height: 20px
			);
		}
	}
	.filter-options-title{
		color: $filter-options-title-color;
		font-size: $filter-options-title-font-size;
		line-height: $filter-options-title-line-height;
		padding: $filter-options-item-padding;
		font-weight: $filter-options-title-font-weight;
		position: relative;
		@include lib-icon-font(
			$icon-down,
			$_icon-font-text-hide  : false,
			$_icon-font-size       : $filter-options-title-icon-size,
			$_icon-font-color      : $filter-options-title-icon-color,
			$_icon-font-color-hover: $filter-options-title-icon-color-hover,
			$_icon-font-position   : after,
			$_icon-font-display    : block
		);
		&:after{
			position: absolute;
			right: $filter-options-title-position;
			top: 0px;
		}
	}
	.active .filter-options-title{
		@include lib-icon-font(
				$icon-up,
				$_icon-font-text-hide  : false,
				$_icon-font-size       : $filter-options-title-icon-size,
				$_icon-font-color      : $filter-options-title-icon-color,
				$_icon-font-color-hover: $filter-options-title-icon-color-hover,
				$_icon-font-position   : after,
				$_icon-font-display    : block
		);
	}
	
	.filter-options-content{
		padding: $filter-options-item-container-padding;
		a{
			padding: 0 5px;
			margin-left: -5px;
			color: $filter-options-color;
			text-decoration: $filter-options-decoration;
			&:hover, &:focus, &:active{
				background: $filter-options-active-background;
				color: $filter-options-color-active;
				text-decoration: $filter-options-decoration-active;
			}
		}
		.item{
			margin-bottom: 0;
			line-height: $filter-options-item-line-height;
		}
		.count{
			color: $filter-options-count-color;
			margin-left: 3px;
			&:before{
				content: '(';
			}
			&:after{
				content: ')';
			}
			span{
				display: none;
			}
		}
	}
}

//
//  Mobile
//  _____________________________________________

@include max-screen($screen__m) {
	body {
		&.filter-active {
			.page-header {
				display: none;
			}
			
			.page-wrapper {
				height: 0;
				margin-top: -999999em;
				visibility: hidden;
			}
			
			.columns {
				z-index: 999;
			}
		}
		&.page-with-filter{
			&.page-products .columns{
				padding-top: 45px;
			}
			.toolbar .sorter{
				position: absolute;
				display: inline-block;
				right: 0;
				top: 0
			}
		}
	}
	.filter:not(.active){
		.block-title {
			position: absolute;
			left: 0;
			top: 0;
			strong{
				@include lib-link-as-button();
				@include lib-button(
						$_button-padding               : 7px 15px 7px 15px,
						$_button-icon-use              : true,
						$_button-font-content          : $icon-next,
						$_button-icon-font-size        : 32px,
						$_button-icon-font-line-height : 16px,
						$_button-icon-font-position    : after
				);
				text-align: center;
			}

		}
	}
	.filter {
		&.block{
			margin-bottom: 0;
		}
		&.active {
			position: relative;
			visibility: visible;
			z-index: 99;
			
			.filter-options-item:last-child {
				margin-bottom: $indent__xl;
			}
			
			.filter-title {
				border-bottom: 1px solid $border-color__base;
				height: 48px;
				left: 0;
				position: fixed;
				right: 0;
				top: 0;
				z-index: 2;
				
				strong {
					@include lib-icon-font(
							$icon-remove,
							$_icon-font-text-hide  : false,
							$_icon-font-size       : $filter-options-title-icon-size,
							$_icon-font-color      : $filter-options-title-icon-color,
							$_icon-font-color-hover: $filter-options-title-icon-color-hover,
							$_icon-font-position   : after,
							$_icon-font-display    : block
					);
					background: none;
					border: 0;
					color: transparent;
					left: auto;
					position: absolute;
					right: 3px;
					top: 0;
				}
			}
			
			.filter-subtitle {
				@include lib-css(background, $module__background-color);
				display: block;
				height: 50px;
				left: 0;
				line-height: 50px;
				position: fixed;
				padding-left: $filter-options-item-padding-size;
				right: 0;
				top: 0;
				z-index: 1;
			}
			
			.filter-options {
				@include lib-css(background, $color-white);
				bottom: 0;
				display: block;
				left: 0;
				overflow: scroll;
				position: fixed;
				right: 0;
				top: 50px;
				z-index: 10;
			}
		}
		.filter-content {
			position: relative;
		}
		.filter-current {
			margin-top: $indent__s;
			margin: 0 0 $indent__s 0;
			padding: $indent__s;
			position: relative;
			.items {
				display: none;
			}
			
			
			
			&.active {
				padding-bottom: 30px;
				
				.block-subtitle {
				
				}
				
				.items {
					display: block;
				}
				
				& + .block-actions {
					display: block;
				}
			}
			
			& + .block-actions {
				display: none;
			}
		}
		.filter-current-subtitle {
			position: relative;
			z-index: 1;
			
			
			&:before {
				position: absolute;
				right: 10px;
				top: 10px;
			}
			
			&:after {
				@include lib-css(color, $text__color__muted);
				content: ' (' attr(data-count) ')';
				font-size: 14px;
			}
		}
		
	}
	
	.filter-subtitle {
		font-size: 20px;
		font-weight: $font-weight__light;
	}
	
	.filter-actions {
		position: absolute;
		left: 0;
		bottom: $indent__xs;
	}
	
	.filter-options-content {
		padding: $indent__xs $indent__s;
		a{
			display: block;
		}
	}
	
	
	.filter-no-options {
		.filter-title {
			&:before {
				background: rgba(255, 255, 255, 0.5);
				content: '';
				display: block;
				height: 100%;
				left: 0;
				right: 0;
				top: 0;
				position: absolute;
				width: 100%;
				z-index: 99;
			}
		}
		
	}
	
	.page-with-filter {
		.columns {
			.sidebar-main {
				@include lib-vendor-prefix-order(0);
			}
		}
	}
}

// Desktop

@include min-screen($screen__m + 1) {
	
	.filter-title {
		display: none;
	}
	.filter.active .filter-options,
	.filter-options {
		clear: both;
		display: block;
	}
	
	.filter-subtitle {
		display: block;
		font-size: $filter-subtitle-font-size;
		color: $filter-subtitle-color;
		border-bottom: $filter-subtitle-border;
		padding: $filter-subtitle-padding;
		line-height: $filter-options-title-line-height;
		font-weight: $filter-subtitle-font-weight;
		margin: 0;
	}
	
	.filter{
		.filter-current{
			padding: $filter-options-item-padding-size;
			padding-bottom: 0;
			border-bottom: 0;
			
		}
		.filter-actions{
			margin-bottom: $indent__base;
			border-bottom: $filter-options-item-border;
			padding: 0 $filter-options-item-padding-size $filter-options-item-padding-size $filter-options-item-padding-size;
		}
	}
	
	
	
	.page-layout-1column {
		.filter-options-item {
			border: 0;
			display: inline-block;
			margin-right: $indent__m;
			position: relative;
			
			&.active {
				z-index: 2;
				
				.filter-options-content {
					visibility: visible;
				}
				
				&:hover {
					z-index: 3;
				}
				
				&:after,
				&:before {
					@include lib-arrow(up, 8px, $color-black);
					bottom: -1px;
					content: '';
					display: block;
					left: $indent__xs;
					position: absolute;
					z-index: 3;
				}
				
				&:after {
					@include lib-css(border-bottom-color, $color-white);
					margin-top: 2px;
					z-index: 4;
				}
			}
		}
		
		.filter-options-title {
			padding: 0 35px 0 0;
			
			&:after {
				right: 0px;
				z-index: 3;
			}
		}
		
		.filter-options-content {
			@include lib-css(background, $filter-drop-down-background);
			@include lib-css(box-shadow, $filter-drop-down-shadow);
			border: 1px solid $border-color__base;
			padding: 0;
			position: absolute;
			top: 100%;
			visibility: hidden;
			width: 180px;
			z-index: 2;
			
			.item {
				margin: 0;
				padding: $indent__xs;
				
				a {
					margin-left: 0;
				}
				
				&:hover {
					background-color: $module__background-color;
				}
			}
			.swatch-attribute{
				margin-bottom: 0;
			}
			.swatch-attribute-options{
				padding: $indent__s $indent__s $indent__xs $indent__s;
				margin: 0;
			}
		}
		.toolbar-products {
			position: absolute;
			top: 0;
			width: 100%;
		}
		
		.products ~ .toolbar-products {
			position: static;
		}
		
		&.page-with-filter .column.main {
			padding-top: 60px;
			position: relative;
			z-index: 1;
		}

		
		.filter-subtitle {
			display: none;
		}
		.filter-current-subtitle{
			margin: 0;
			margin-right: $indent__s;
		}
		.filter-current {
			display: inline;
			line-height: 35px;
			border: 0;
			padding-left: 0;
			
			
			.item,
			.items {
				display: inline;
			}
			
			.item {
				margin-right: $indent__m;
				white-space: nowrap;
			}
			
			.action.remove {
				line-height: normal;
			}
		}
		.filter-curren-subtitle {
			@include lib-css(color, $text__color__muted);
			display: inline;
			font-size: $font-size__base;
			font-weight: normal;
			padding: 0;
			
			&:after {
				content: ':';
			}
		}
		.filter {
			.filter-actions {
				display: inline;
				white-space: nowrap;
				margin: 0;
				border: 0;
				padding: 0;
				
				& ~ .filter-options {
					margin-top: $indent__xs;
				}
			}
			&.block {
				border: $filter-options-item-border;
				border-width: $filter-drop-down-border-width;
			}
		}
	}
	
}
