// Toolbar
$toolbar-mode-icon-font-size                        : 24px !default;
$toolbar-element-background                         : $module-dark__background-color !default;

// Grids
$product-grid-items-per-row-layout-default          : 2;

$product-grid-items-per-row-layout-1-screen-s       : 3;
$product-grid-items-per-row-layout-1-screen-m       : 4;
$product-grid-items-per-row-layout-1-screen-l       : 5;

$product-grid-items-per-row-layout-2-left-screen-s  : 3;
$product-grid-items-per-row-layout-2-left-screen-m  : 4;
$product-grid-items-per-row-layout-2-left-screen-l  : '';

$product-grid-items-per-row-layout-2-right-screen-s : 3;
$product-grid-items-per-row-layout-2-right-screen-m : 4;
$product-grid-items-per-row-layout-2-right-screen-l : '';

$product-grid-items-per-row-layout-3-screen-s       : 3;
$product-grid-items-per-row-layout-3-screen-m       : '';
$product-grid-items-per-row-layout-3-screen-l       : '';

$product-grid-items-padding                         : 0 $indent__base $indent__base;
$product-grid-items-margin                          : 0 0 $indent__s;

$product-name-text-decoration                       : none;
$product-name-text-decoration-hover                 : $link__hover__text-decoration;

$toolbar-mode-icon-font-size                        : 26px;
$product-h1-margin-bottom-desktop                   : $indent__base;