//
//  Color variables
//  _____________________________________________

$color-white             : #fff !default;
$color-black             : #000 !default;
$color-dark             : #333 !default;
$color-gray-dark            : #ccc !default;
$color-gray            : #e8e8e8 !default;
$color-gray-light       : #f6f6f6 !default;


$color-red             : #b30000 !default;
$color-orange       : #ff5501 !default;
$color-pink             : #fae5e5 !default;

$color-blue1             : #1979c3 !default;
$color-blue2             : #006bb4 !default;
$color-sky-blue1         : #68a8e0 !default;

$color-dark-green1       : #006400 !default;
$color-brownie1          : #6f4400 !default;
$color-brownie-light1    : #c07600 !default;

$color-yellow-light1     : #fdf0d5 !default;
$color-yellow-light2     : #ffee9c !default;
$color-yellow-light3     : #d6ca8e !default;

//
//  Color nesting
//  ---------------------------------------------

$primary__color          : $color-dark !default;
$primary__color__dark    : darken($primary__color, 35%) !default; // #000
$primary__color__darker  : darken($primary__color, 13.5%) !default; // #111
$primary__color__lighter : lighten($primary__color, 29%) !default; // #7d7d7d
$primary__color__light   : lighten($primary__color, 45%) !default; // #a6a6a6

$secondary__color        : $color-gray !default;
$secondary__color__light : lighten($secondary__color, 5%) !default;

$page__background-color  : $color-white !default;
$panel__background-color : darken($page__background-color, 6%) !default;

$active__color           : $color-orange !default;
$error__color            : $color-red !default;
