//
//  Color variables
//  _____________________________________________

$color-white            : #fff !default;
$color-black            : #000 !default;
$color-dark             : #333 !default;
$color-gray-dark        : #ccc !default;
$color-gray             : #e8e8e8 !default;
$color-gray-light       : #f6f6f6 !default;


$color-red              : #b30000 !default;
$color-orange           : #ff5501 !default;
$color-pink             : #fae5e5 !default;

$color-yellow-light     : #fdf0d5 !default;
$color-yellow           : #ffee9c !default;
$color-yellow-smoke     : #d6ca8e !default;

$color-green-light      : #d2f3d3 !default;
$color-green-dark       : #006400 !default;

$color-blue             : #1979c3 !default;
$color-blue-dark        : #006bb4 !default;
$color-sky-blue         : #68a8e0 !default;




//
//  Color nesting
//  ---------------------------------------------

$primary__color                 : $color-dark !default;
$primary__color__dark           : $color-black !default;

$secondary__color               : $color-gray-dark !default;

$brand__color                   : $color-orange !default;
$brand_secondary__color         : $color-blue !default;


// Module Colors

$module__background-color       : $color-gray-light !default;
$module__border-color           : $color-gray !default;

$module-dark__background-color  : $color-gray !default;
$module-dark__border-color      : $color-gray-dark !default;


// Page variables
$page__background-color  : $color-white !default;


// Action variables
$active__color           : $color-orange !default;


// Message Variables
$error__color            : $color-red !default;


// ToDo: Exchange these variables
$panel__background-color : $module__background-color !default;
