//
//  Color variables
//  _____________________________________________

$color-white            : #fff !default;
$color-black            : #000 !default;
$color-dark             : #333 !default;
$color-gray-dark        : #ccc !default;
$color-gray             : #e8e8e8 !default;
$color-gray-light       : #f6f6f6 !default;


$color-red              : #b30000 !default;
$color-orange           : #ff5501 !default;
$color-pink             : #fae5e5 !default;

$color-blue             : #1979c3 !default;
$color-blue-dark        : #006bb4 !default;
$color-sky-blue         : #68a8e0 !default;

$color-dark-green       : #006400 !default;
$color-brown            : #6f4400 !default;
$color-brown-light      : #c07600 !default;

$color-yellow-light     : #fdf0d5 !default;
$color-yellow           : #ffee9c !default;
$color-yellow-smoke     : #d6ca8e !default;
