
//
//  Color nesting
//  ---------------------------------------------

$primary__color                 : $color-dark !default;
$primary__color__dark           : $color-black !default;

$secondary__color               : $color-gray-dark !default;

$brand__color                   : $color-red !default;
$brand_secondary__color         : $color-blue !default;


// Module Colors

$module__background-color : $color-gray-light !default;
$module__border-color: $color-gray !default;

$module-dark__background-color : $color-gray !default;
$module-dark__border-color : $color-gray-dark !default;


// Page variables
$page__background-color  : $color-white !default;


// Action variables
$active__color           : $color-orange !default;


// Message Variables
$error__color            : $color-red !default;


// ToDo: Exchange these variables
$panel__background-color : $module__background-color !default;
