//
//  Gift Message Variables
//  _____________________________________________

$gift-message-field-label__color                : $color-gray-dark;
$gift-item-block__border-color                  : $color-gray-light;
$gift-item-block__border-width                  : $border-width__base;


//
//  Gift Wrapping Variables
//  _____________________________________________

$gift-wrapping__border-color                    : $color-gray-light;
$gift-wrapping__border-width                    : $border-width__base;

$gift-wrapping-preview__active__border-color    : $color-gray-dark;
$gift-wrapping-preview__active__border-width    : 3px;

$gift-wrapping-thumbnail__height                : 4rem;
$gift-wrapping-thumbnail__width                 : $gift-wrapping-thumbnail__height;

$gift-wrapping-no-image__background             : $color-gray-light;
$gift-wrapping-no-image-icon__color             : $color-gray-dark;
$gift-wrapping-no-image-icon__font-size         : 38px;
