//
//  Variables
//  _____________________________________________

$gift-message-field-label__color : $color-gray-dark;
$gift-item-block__border-color   : $color-gray-light;
$gift-item-block__border-width   : $border-width__base;