//
//  Header variables
//  _____________________________________________
$header__background-color           : false !default;


//  Header Icons
$header-icons-color                 : $color-gray-dark !default;
$header-icons-color-hover           : $brand__color !default;

$minicart-icons-color               : $header-icons-color !default;
$minicart-icons-color-hover         : $header-icons-color-hover !default;


//
//  Block Search
//  _____________________________________________

$autocomplete__background-color     : $color-white !default;
$autocomplete__border               : $form-element-input__border !default;
$autocomplete-item__border          : $form-element-input__border !default;
$autocomplete-item__hover__color    : $form-element-input__border-color-focus !default;
$autocomplete-item-amount__color    : $color-gray !default;

$search-icon-color                  : $header-icons-color !default;
$search-icon-color-hover            : $header-icons-color !default;


//
//  My Account
//  _____________________________________________

$account-menu__link-color       			: $primary__color;
$account-menu__links-hover-color       		: $primary__color;
$account-menu__hover-background-color		: $color-gray-light;


//
//  Mini Cart
//  _____________________________________________

$minicart__border-color       	: $module-dark__border-color;
$minicart__padding-horizontal 	: $indent__base;

$minicart-qty__height         	: 24px;

$minicart__icon-color       	: $color-gray-darker;
$minicart__icon-color-hover    	: $active__color;
$minicart__icon-color-active    : $active__color;
