//
//  Braintree
//  _____________________________________________

$braintree-input-border__color              : $color-gray;

$braintree-error__color                     : $color-red;
$braintree-focus__color                     : $color-blue-dark;
$braintree-success__color                   : $color-green-dark;

$braintree-paypal-icon__height              : 16px;
$braintree-paypal-icon__width               : 16px;
$braintree-paypal-account__padding-right    : 50px;
$braintree-paypal-account__padding-vertical : 15px;
