
//
//  Product
//  ---------------------------------------------

$product-name-link__color                                   : $text__color !default;
$product-name-link__color__active                           : $text__color !default;
$product-name-link__color__hover                            : $text__color !default;
$product-name-link__color__visited                          : $text__color !default;

$product-name-link__text-decoration                         : none !default;
$product-name-link__text-decoration__active                 : $link__hover__text-decoration !default;
$product-name-link__text-decoration__hover                  : $link__hover__text-decoration !default;
$product-name-link__text-decoration__visited                : $link__hover__text-decoration !default;

// Prices
$special-price-label-display                                : none !default;
$old-price-label-display                                    : none !default;

//  Stock
$product-stock-color_available                              : $color-green !default;
$product-stock-color_unavailable                            : $color-red !default;
$product-stock_text-transform                               : uppercase !default;
$product-stock-font-weight                                  : $font-weight__bold !default;

//  SKU
$product-sku-color                                          : $text__color !default;
$product-sku-font-weight                                    : $font-weight__bold !default;

