
//
//  Product
//  ---------------------------------------------

$product-name-link__color                                   : $text__color !default;
$product-name-link__color__active                           : $text__color !default;
$product-name-link__color__hover                            : $text__color !default;
$product-name-link__color__visited                          : $text__color !default;

$product-name-link__text-decoration                         : none !default;
$product-name-link__text-decoration__active                 : $link__hover__text-decoration !default;
$product-name-link__text-decoration__hover                  : $link__hover__text-decoration !default;
$product-name-link__text-decoration__visited                : $link__hover__text-decoration !default;

// Price Labels
$special-price-label-display                                : none !default;
$old-price-label-display                                    : none !default;

// Prices grid
$product-list-font-size-special-price                       : $font-size__base !default;
$product-list-font-weight-special-price                     : $font-weight__regular !default;
$product-list-color-special-price                           : $text__color !default;
$product-list-font-size-old-price                           : $font-size__s !default;
$product-list-font-weight-old-price                         : $font-weight__bold !default;
$product-list-color-old-price                               : $color-red !default;

// Prices product page
$product-page-font-size-special-price                       : $font-size__xl !default;
$product-page-font-weight-special-price                     : $font-weight__regular !default;
$product-page-color-special-price                           : $text__color !default;
$product-page-font-size-old-price                           : $font-size__base !default;
$product-page-font-weight-old-price                         : $font-weight__bold !default;
$product-page-color-old-price                               : $color-red !default;


//  Stock
$product-stock-color_available                              : $color-green !default;
$product-stock-color_unavailable                            : $color-red !default;
$product-stock_text-transform                               : uppercase !default;
$product-stock-font-weight                                  : $font-weight__bold !default;

//  SKU
$product-sku-color                                          : $text__color !default;
$product-sku-font-weight                                    : $font-weight__bold !default;

